<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chensanwa.shop.dao.SupplierProductDao">

    <resultMap id="BaseResultMap" type="com.chensanwa.shop.dto.SupplierProductDto">
        <id column="supplier_id" property="supplierId" jdbcType="INTEGER" javaType="int"/>
        <id column="product_id" property="productId" jdbcType="INTEGER" javaType="int"/>
        <result column="amount" property="amount" jdbcType="INTEGER" javaType="int"/>
    </resultMap>

    <sql id="Base_Column_List">
        supplier_id,product_id,amount
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        supplier_product
        where
        supplier_id = #{supplierId}
    </select>

    <insert id="insert" parameterType="com.chensanwa.shop.dto.SupplierProductDto">
        INSERT into
        supplier_product(supplier_id,product_id,amount)
        values(#{supplierId},#{productId},#{amount})
    </insert>

    <update id="updateAmount" parameterType="com.chensanwa.shop.dto.SupplierProductDto">
        UPDATE
        supplier_product
        SET
        amount = #{amount}
        WHERE
        supplier_id = #{supplierId} and product_id = #{productId}
    </update>

    <delete id="delete">
        DELETE FROM
        supplier_product
        WHERE
        supplier_id=#{supplierId} and product_id = #{productId}
    </delete>

</mapper>